.filter {
  padding: 2rem 1rem 1rem;
  border-bottom: 1px solid var(--primary);
  color: var(--secondary);
  font-weight: 500;
}

.filter label {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  margin: 0 auto;
  text-align: center;
}

.filter .search-wrapper {
  border: 2px solid var(--primary);
}
 
.filter ._7ahQImyV4dj0EpcNOjnwA {
  background: var(--primary);
  color: var(--secondary);
}

.filter .optionContainer {
  background: var(--secondary);
  color: #fff;
  border-radius: 0 0 6px 6px;
}

.filter li:hover {
  background: var(--primary) !important;
  /* color: var(--secondary); */
}

.filter .highlight {
  background: var(--secondary);
  /* color: var(--primary); */
}
