.card {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 14rem;
  height: 15rem;
  margin: .5rem;
  border: 1px solid gray;
  border-radius: 7px;
  background: var(--primary);
  color: var(--secondary);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.card h5 {
  margin: 0;
}

.likes {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: 2rem 0;
}

.likes div {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.card button {
  background: transparent;
  color: rgb(190, 87, 87);
  border: none;
  cursor: pointer;
}
