.pagination{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0 2rem;
}

.pagination label {
  font-weight: 500;
  color: var(--secondary);
  padding: 0 3rem .8rem;
  border-bottom: 1px solid var(--primary);
}

.pagination-bar {
  display: flex;
  margin-top: 1rem;
}

.pagination-bar ul {
  display: flex;
  margin: 0 1rem;
  padding: 0;
  list-style: none;
}

.pagination-bar li {
  margin: 0 1rem;
  width: 1.6rem;
  height: 1.6rem;
  text-align: center;
  font-weight: 600;
  color: var(--secondary);
  cursor: pointer;
}

.pagination-bar .active {
  border-radius: 1rem;
  background: var(--primary);
  color: var(--secondary);
}

.pagination-bar button {
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 1rem;
  text-align: center;
  font-weight: 600;
  background: var(--primary);
  cursor: pointer;
}